In [2]:
import glob
import pandas as pd

In [3]:
# Import Path
main_path = '../'
query_tweet_path = main_path+'query_tweet/'
auth_path = main_path+'auth/'
ids_path = main_path+'covid19-indonesian-tweet/ids/'
merge_path = './'

In [4]:
tweet_ids = glob.glob(query_tweet_path+'*.csv')

In [5]:
id_tweet = pd.DataFrame()
for i in tweet_ids:
    id_tweet = pd.concat([id_tweet,
        pd.read_csv(i)], ignore_index=True, sort=False)

In [6]:
id_tweet.shape

(144719, 2)

In [7]:
id_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144719 entries, 0 to 144718
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      144719 non-null  object
 1   tweet   144715 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB

In [8]:
id_tweet[id_tweet['tweet'].isna()]

                                                      id tweet
9235            klik untuk baca: https://t.co/jguzbfjvzd   NaN
32591  vaksin covid-19 sedang berlangsung pada manusi...   NaN
84524  download aplikasi https://t.co/mdwussewcc untu...   NaN
89257           klik untuk baca: https://t.co/h0jcm2erwy   NaN

In [9]:
id_tweet = id_tweet.dropna()

In [10]:
id_tweet.to_csv('id_tweet.csv',index=False)

In [11]:
labeled_data = pd.read_csv(merge_path+'labeled-all-data.csv', index=False)

In [13]:
labeled_data.head()

,Unnamed: 0,id,tweet,stance
0,0,1526873255583154177,@ftrrii1 @husnaa_a Pandemi berdasarkan dugaan ...,ABSTAIN
1,1,1526873332393598977,Penumpang KAJJ vaksinasi dosis kedua atau boos...,ABSTAIN
2,2,1526873365033537536,@its_shihaa Udaah pake pfizer jumat minggu lal...,ABSTAIN
3,3,1526874139381755904,VIDEO: FDA Izinkan Vaksin Booster Pfizer untuk...,PRO
4,4,1526875038070218752,"Percepat Vaksinasi, Dengan Humanis Forpimka Se...",PRO

In [14]:
labeled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161864 entries, 0 to 161863
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  161864 non-null  int64
 1   id          161864 non-null  int64
 2   tweet       161864 non-null  object
 3   stance      161864 non-null  object
dtypes: int64(2), object(2)
memory usage: 4.9+ MB

In [15]:
labeled_data.drop('Unnamed: 0', inplace=True, axis=1)

In [16]:
labeled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161864 entries, 0 to 161863
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      161864 non-null  int64
 1   tweet   161864 non-null  object
 2   stance  161864 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.7+ MB

In [24]:
labeled_data.to_csv(merge_path+'labeled-all-data.csv', index=False)

In [23]:
f = open("id_tweet.txt", "w")
for id in labeled_data['id']:
    f.write(str(id)+'\n')
f.close()